.container{
    position: fixed;
    top: 0;
    left: 0;
     width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.goals-comp {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 591px;
    padding: 30px;
    border: 4px solid rgba(45,189,177,0.3);
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgb(230, 230, 230);
}

.heading {
    display: flex;
    flex-direction: column;
    margin-top: -20px;

}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.goal:hover{
    background-color: rgba(45,189,177,0.1);
}

.goal-main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.check-box {
    display: block;
    position: relative;
    user-select: none;
}

.check-mark {
    position: absolute;
    width: 20px;
    height: 20px;
    border-style: solid;
    border: 2px solid #2DBDB1;
    border-radius: 5px;
    margin-top: -20px;
}

.check-box input {
    display: none;
}


.check-box:hover input ~ .check-mark {
    background-color: rgba(45,189,177,0.1);
}

.check-box .check-mark:after {
    top: -2px;
    width: 5px;
    height: 10px;
    left: 3px;
    color: #2DBDB1;
}

.check-box input:checked ~ .check-mark:after {
    display: block;
} 
   
   
.check-mark:after {
    content: '\2714';
    position: absolute;
    display: none;
} 


.goal-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 5px;
}

.text {
    font-family: Oxygen;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.52px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 2px;
    color: #5A5A5A;
}

.crossed-out .text {
    text-decoration: line-through;
}

.tag {
    font-family: Oxygen;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.94px;
    text-align: left;
    margin-top: 0px;
}

#title {
    font-family: Oxygen;
    font-size: 27.5px;
    font-weight: 400;
    line-height: 34.72px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 0px;
    color: #4B5853;
}

#week {
    font-family: Oxygen;
    font-size: 22.5px;
    font-weight: 700;
    line-height: 28.41px;
    text-align: left;
    margin-top: 10px;
    color: #4B5853;
}

#pencil {
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin-bottom: -30px;
}

#line {
    width: 334.57;
}

#add-text {
    cursor: pointer;
    font-family: Oxygen;
    font-size: 17.5px;
    font-weight: 400;
    line-height: 22.1px;
    text-align: left;
    margin-top: 22px;
    color: #5A5A5A;

} 

@media (max-width: 1024px) {
    .goals-comp {
        width: 300px;
    }

    .goal-text{
        margin-left: -5px;
    }

    .text {
        font-size: 13px;
    }

    .check-box{
        width: 15px;
        height: 15px;
        margin-top: 20px;
    }

    .tag {
        font-size: 12px;
    }

    #title {
        font-size: 25px;
    }

    #week {
        font-size: 20px;
    }

    #pencil {
        width: 25px;
        height: 25px;
        margin-top: 0px;
    }

    #add-text {
        font-size: 14px;
    }
}


@media (max-width: 768px) {
    .goals-comp {
        width: 93%;
        height: 100vh;
        padding: 200px;
        border-style: none;
        background-color: rgba(45,189,177,0.1);
        margin-top: 100px;
    }

    #line {
        width: 90vw;
        height: 2px;
    }
}

@media (max-width: 480px) {
    .goals-comp {
        width: 87%;
        height: 100vh;
        padding: 100px;
        border-style: none;
        background-color: rgba(45,189,177,0.1);
        margin-top: 50px;
    }
}

@media (max-width: 320px) {
    .goals-comp {
        width: 85%;
        height: 100vh;
        padding: 50px; 
        border-style: none;
        background-color: rgba(45,189,177,0.1);
        margin-top: 25px;
    }
}


